section#brands
    .container
        ul.nav.d-flex.justify-content-between
            li.nav-item #[img(src=require("../../images/brand_01.png"))]
            li.nav-item #[img(src=require("../../images/brand_02.png"))]
            li.nav-item #[img(src=require("../../images/brand_03.png"))]
            li.nav-item #[img(src=require("../../images/brand_04.png"))]
            li.nav-item #[img(src=require("../../images/brand_05.png"))]
            li.nav-item #[img(src=require("../../images/brand_06.png"))]
