section#products
    ul.nav.justify-content-center
        li.nav-item: a.nav-link.active(href="#") new
        li.nav-item: a.nav-link(href="#") popular
        li.nav-item: a.nav-link(href="#") top picks
    .container
        .row
            .col
                a(href="#")
                    p.price--normal.d-none
                    p.discount-percent -25%
                    p.price--after-discount $45.00
                    p.price--before-discount $60.00
                    img.img-fluid(src=require("../../images/product_01.png"))
                    p.category men
                    p.product-name converse breakpoint suede blue
                    p.product-id #16378271
            .col
                a(href="#")
                    p.price--normal $55.00
                    p.discount-percent.d-none
                    p.price--after-discount.d-none
                    p.price--before-discount.d-none
                    img.img-fluid(src=require("../../images/product_02.png"))
                    p.category men / women
                    p.product-name converse ct all start II
                    p.product-id #16378271
            .col
                a(href="#")
                    p.price--normal.d-none
                    p.discount-percent -25%
                    p.price--after-discount $45.00
                    p.price--before-discount $60.00
                    img.img-fluid(src=require("../../images/product_03.png"))
                    p.category men
                    p.product-name converse breakpoint suede blue
                    p.product-id #16378271
            .col
                a(href="#")
                    p.price--normal $55.00
                    p.discount-percent.d-none
                    p.price--after-discount.d-none
                    p.price--before-discount.d-none
                    img.img-fluid(src=require("../../images/product_04.png"))
                    p.category men / women
                    p.product-name converse ct all start II
                    p.product-id #16378271
            .w-100
            .col
                a(href="#")
                    p.price--normal.d-none
                    p.discount-percent -25%
                    p.price--after-discount $45.00
                    p.price--before-discount $60.00
                    img.img-fluid(src=require("../../images/product_01.png"))
                    p.category men
                    p.product-name converse breakpoint suede blue
                    p.product-id #16378271
            .col
                a(href="#")
                    p.price--normal $55.00
                    p.discount-percent.d-none
                    p.price--after-discount.d-none
                    p.price--before-discount.d-none
                    img.img-fluid(src=require("../../images/product_02.png"))
                    p.category men / women
                    p.product-name converse ct all start II
                    p.product-id #16378271
            .col
                a(href="#")
                    p.price--normal.d-none
                    p.discount-percent -25%
                    p.price--after-discount $45.00
                    p.price--before-discount $60.00
                    img.img-fluid(src=require("../../images/product_03.png"))
                    p.category men
                    p.product-name converse breakpoint suede blue
                    p.product-id #16378271
            .col
                a(href="#")
                    p.price--normal $55.00
                    p.discount-percent.d-none
                    p.price--after-discount.d-none
                    p.price--before-discount.d-none
                    img.img-fluid(src=require("../../images/product_04.png"))
                    p.category men / women
                    p.product-name converse ct all start II
                    p.product-id #16378271